/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #555555;
}

a {
  color: #7cc576;
}

a:hover {
  color: #9ed49a;
  text-decoration: none;
}

/*--------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}
--------------------------------------------------------------*/
@font-face {
  font-family: quicksilver;
  src: url("../fonts/quicksilver/QUIKSLVN.TTF");
}

@font-face {
  font-family: bodacious;
  src: url("../fonts/BodaciousDemibold-0ng9.ttf");
}

h1, h2, h3, h4, h5, h6 {
  font-family: bodacious, sans-serif;
  font-size: large;
  background: purple;
}

h1 {
    font-size: large;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


/*--------------------------------------------------------------
# info Section
--------------------------------------------------------------*/
#info {
  width: 100%;
  height: 100vh;
  background: url("../img/bg-retro.jpg");
  position: relative;
}

#info .info-container {
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#info .info-logo {
  margin-bottom: 1px;
}

#info h1 {
  margin: -10px 0px 0px 20px;
  font-size: 75px;
  font-weight: 500;
  line-height: 56px;
  color: #fff;
  padding: 30px;
}

#info h2 {
  color: #aeaeae;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

#info .btn-get-started {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 30px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  color: #000000;
  background: #ffff00;
}

#info .btn-get-started:hover {
  background: #fff;
  color: #7cc576;
}

#device {
    display: none;
}

@media (min-width: 1024px) {
  #info {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #info h1 {
    font-size: 28px;
    line-height: 36px;
    width: 100%;
    margin: 0;
  }
  #info h2 {
    line-height: 22px;
  }

  #browser {
    display: none;
  }

  #device {
    display: inline;
    width: 300px;
  }
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: clear;
  color: white;
  text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: clear;
  display: flex;
  justify-content: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 35px;
  width: 50px;
}

li a:hover {
  background-color: purple;
}

.fa {
  padding: 0;
  font-size: 35px;
  width: 75px;
  text-align: center;
  text-decoration: none;
}
